{% extends 'ALGsbBundle::base.html.twig' %}


{% block head %}
    {{ parent() }}
    <title>GSB | Suivi des Frais</title>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-lg-offset-2">
                <div class="page-header">
                    <center><h2>Suivi de vos frais </h2></center>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{path('al_gsb_deconnexion')}}">déconnexion</a></li>
                    <li><a href="{{path('al_gsb_accueil')}}">accueil</a></li>
                    <li><a href="{{path('al_gsb_suivre_paiement_frais')}}">suivi paiement frais</a></li>
                    <li class="active">details fiche frais</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8  col-lg-offset-2">
                <center>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date de création</th>
                                <th>Date de modification</th>
                                <th>Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ficheFrais.dateRedac |date("d/m/Y")}}</td>
                                <td>{{ficheFrais.dateModif |date("d/m/Y")}}</td>
                                <td>{{ficheFrais.etat.libelle }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p>Montant validé</p>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Montant validé</td>
                                <td>{{ficheFrais.montantValide}}€</td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p>Lignes de frais forfait :  </p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Quantité</th>
                                <th>Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ligneFraisForfait in ficheFrais.lignesFraisForfait%}
                                <tr>
                                    <td>{{ligneFraisForfait.fraisForfait.libelle}}</td>
                                    <td>{{ligneFraisForfait.quantite+0}}</td>
                                    <td>{{ligneFraisForfait.quantite*ligneFraisForfait.fraisForfait.montant}}€</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>Nombre de justificatif</td>
                                <td>{{ficheFrais.nbJustificatifs}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>

                    {% if ficheFrais.lignesFraisHorsForfait is not empty%}
                        <p>Lignes de frais hors forfait : </p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Date frais</th>
                                    <th>Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ligneFraisHorsForfait in ficheFrais.lignesFraisHorsForfait%}
                                    <tr>
                                        <td>{{ligneFraisHorsForfait.libelle}}</td>
                                        <td>{{ligneFraisHorsForfait.dateFrais |date("d/m/Y")}}</td>
                                        <td>{{ligneFraisHorsForfait.montant}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <a href="#" class="alert-link">Cette fiche de frais ne contient pas de frais hors forfait</a>
                        </div>
                    {% endif %}
                </center>

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
