{% extends 'ALGsbBundle::base.html.twig' %}


{% block head %}
    {{ parent() }}
    <title>GSB | Saisir Frais</title>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-lg-offset-2">
                <div class="page-header">
                    <center><h2>Gérer vos frais </h2></center>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{{ path('al_gsb_deconnexion') }}">déconnexion</a></li>
                    <li><a href="{{ path('al_gsb_accueil') }}">accueil</a></li>
                    <li class="active">gérer vos frais</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-8  col-lg-offset-2">
                    {% if saisir is defined %}
                        {{form(form)}}
                        
                        <p><a class="btn btn-info" href="" role="button">Ajouter un hors forfait</a></p>
                    {% endif %}
                    {% if creerFiche is defined %}
                        <center>
                            <div class="jumbotron">
                                <h3>Vous n'avez pas de fiche de frais en cours pour le mois {{mois}}.</h3>
                                <hr>
                                <p><a class="btn btn-info btn-lg" href="{{path("al_gsb_creer_frais")}}" role="button">Ouvrir la fiche</a></p>
                            </div>
                        </center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
